.repo-list {
  img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 1rem 1.5rem;
  }
  .repo-item {
    width: 45vw;
    align-items: center;
    justify-content: flex-start;
    p {
      
    }
  }
}
