.repo-list {
  flex: 1 0 45%;
  width: 45vw;
  transition: width 500ms ease-in-out;
  min-width: 300px;
  h3 {
    margin-bottom: 1.75ex;
    margin-top: 1.75ex;
  }
  img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: 1rem 1.5rem;
  }
  .repo-item {
    // width: 42vw;
    align-items: center;
    justify-content: flex-start;
    margin: 0.5rem 2rem;
    // &.selected {
    //   text-shadow: 1px 2px 3px slateblue;
    // }
  }
}
