.App {
  background-color: #fefbf9;
  .App-header {
    background-color: #728092;
    height: 120px;
    padding: 20px;
    color: white;
    .App-branding {
      text-align: left;
      font-family: 'Monaco', sans-serif;
      min-width: 300px;
      padding-right: 2rem;
    }
  }
  & > article {
    width: 100vw;
    overflow-x: hidden;
    flex-wrap: wrap-reverse;
    h3 {
      margin-left: 1em;
    }
  }
}
